<footer class="page-footer site_footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Comely Concept Ent.</h5>
                <p class="grey-text text-lighten-4">
                    No 1B Ogechukwu Street, Awka, Anambra State
                </p>


            </div>

            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">facebook</a></li>
                    <li><a class="white-text" href="#!">twiiter</a></li>
                    <li><a class="white-text" href="#!">instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Designed by <a class="brown-text text-lighten-3" href="">BitsCode - Nig</a>
        </div>
    </div>
</footer>