<nav class="whitesmoke nav-background" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#!" class="brand-logo"><b>C</b>omely<b class=""> C</b>oncept</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">Sign in</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="">Home</a></li>
            <li><a href="">Sign in</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>